.header__logo {
  width: 142px;
  height: 33px;
  object-fit: contain;
  padding-bottom: 41px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin-left: 30px;
    margin-top: 27px;
    margin-bottom: 31.6px;
    padding-bottom: 0;
  }
}
