.login__input {
  border: none;
  border-bottom: 2px solid rgba(204, 204, 204, 1);
  background: none;
  color: rgba(204, 204, 204, 1);
  font-size: 14px;
  line-height: 1.21;
  outline: none;
  height: 27px;
  margin-bottom: 26px;
}

.login__input:last-of-type {
  margin: 0;
}
