.login {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  padding-top: 60px;
}
@media screen and (max-width: 999px) {
  .login {
    max-width: 85%;
    margin: auto;
  }
}

@media screen and (max-width: 767px) {
  .login {
    max-width: 320px;
    padding-top: 40px;
  }
}
