.header__email {
  color: #FFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  margin-right: 24px;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .header__email {
    font-size: 14px;
    line-height: 1.21;
    margin-bottom: 40px;
  }
}

.header__email_isloggedIn {
  margin-right: 24px;
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .header__email_isloggedIn {
    margin-right: 0;
    margin-bottom: 18px;
    margin-top: 12px;
  }
}
