.header {
  max-width: 880px;
  min-height: 74px;
  padding-top: 45px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 999px) {
  .header {
    max-width: 85%;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 320px;
    min-height: 56px;
    padding-top: 0;
  }
}

@media screen and (max-width: 767px) {
  .header_isloggedIn {
    display: grid;
    grid-auto-flow: row;
  }
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
}

@media screen and (max-width: 767px) {
  .header__menu {
    width: 320px;
    padding-top: 0;
  }
}

.header__menu-button {
  display: grid;
  grid-auto-flow: row;
  margin-right: 30px;
  list-style-type: none;
}

.header__menu-button:hover {
  opacity: 0.6;
  transition: opacity 0.3s;
  cursor: pointer;
}

.header__menu-button-null {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
